*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

[class*=sr-only] {
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  font-family: "Barlow", "sans-serif";
  font-weight: 600;
}

h1,
h2,
h3,
button,
.brand__cta {
  font-family: "Fraunces", "sans-serif";
}

h1,
h2,
h3,
.brand__cta {
  font-weight: 900;
}

a,
button {
  font-weight: 700;
}

.navigation__item {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}

.header__heading {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
}
@media screen and (min-width: 800px) {
  .header__heading {
    font-size: 6.4rem;
    letter-spacing: 1rem;
  }
}

.brand__heading {
  font-size: 3.2rem;
  line-height: 1.2;
}
@media screen and (min-width: 640px) {
  .brand__heading {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 800px) {
  .brand__heading {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .brand__heading {
    font-size: 5rem;
  }
}

.brand__paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.brand__cta {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.service__heading {
  font-size: 4rem;
}
@media screen and (min-width: 800px) {
  .service__heading {
    font-size: 3rem;
  }
}

.service__paragraph {
  font-size: 1.9rem;
}
@media screen and (min-width: 800px) {
  .service__paragraph {
    font-size: 1.6rem;
  }
}

.testimonials__heading {
  text-transform: uppercase;
  font-size: 2.1rem;
  letter-spacing: 0.2em;
}

.testimonial__paragraph {
  font-size: 1.6rem;
}

.author__name {
  font-size: 1.8rem;
}

.author__job-title {
  font-size: 1.2rem;
}

.header {
  height: 100dvh;
  padding-inline: 2rem;
  padding-block: 4rem;
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-header.jpg");
}
@media screen and (min-width: 800px) {
  .header {
    background-image: url("./../images/desktop/image-header.jpg");
  }
}

.header-container {
  max-width: 1300px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .header-container {
    margin-bottom: 8rem;
  }
}

.header__logo-container {
  max-width: 150px;
}

.header__heading {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-bottom: 5rem;
}

.header__arrow-down-container {
  max-width: 50px;
  margin-inline: auto;
}

.hamburger__container {
  display: block;
  width: 48px;
}
@media screen and (min-width: 800px) {
  .hamburger__container {
    display: none;
  }
}
.hamburger__container button {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .navigation {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250%;
    width: 95%;
    background-color: hsl(0, 0%, 100%);
    padding: 4rem;
  }
  .navigation.active {
    display: block;
  }
  .navigation.active .triangle {
    display: block;
  }
}
.navigation__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 800px) {
  .navigation__list {
    flex-direction: row;
    gap: 4rem;
  }
}

.navigation__item a {
  text-decoration: none;
  color: hsl(210, 4%, 67%);
}
@media screen and (min-width: 800px) {
  .navigation__item a {
    color: hsl(0, 0%, 100%);
  }
}

.triangle {
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 48px 48px;
  border-color: transparent transparent white transparent;
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.contact-btn {
  background-color: hsla(51, 100%, 49%, 0.45);
  color: hsl(212, 27%, 19%) !important;
  border: none;
  border-radius: 100vw;
  padding: 10px 25px;
  transition: 0.4s all;
}
@media screen and (min-width: 800px) {
  .contact-btn {
    background-color: hsl(0, 0%, 100%);
    color: inherit;
  }
}
.contact-btn:hover {
  background-color: hsl(200, 99%, 52%);
  color: hsl(0, 0%, 100%);
}

.move-down-btn {
  background-color: transparent;
  border: 0;
}
.move-down-btn:hover {
  cursor: pointer;
}

.hamburger__button {
  background-color: transparent;
  border: 0;
}

.brand__content-container {
  display: flex;
  flex-direction: column;
}
.brand__content-container .brand__image-container,
.brand__content-container .service {
  height: 100vw;
}
@media screen and (min-width: 800px) {
  .brand__content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vw;
  }
  .brand__content-container > div {
    height: 100%;
  }
  .brand__content-container .brand__image-container,
  .brand__content-container .service {
    height: 100%;
  }
}
.brand__content-container > .bg-lamp {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-stand-out.jpg");
}
@media screen and (min-width: 800px) {
  .brand__content-container > .bg-lamp {
    background-image: url("./../images/desktop/image-stand-out.jpg");
  }
}
.brand__content-container > .bg-egg {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-transform.jpg");
}
@media screen and (min-width: 800px) {
  .brand__content-container > .bg-egg {
    background-image: url("./../images/desktop/image-transform.jpg");
  }
}
.brand__content-container:first-child {
  flex-direction: column-reverse;
}

.brand__text-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-inline: 3rem;
  min-height: 50vh;
}
@media screen and (min-width: 800px) {
  .brand__text-content-container {
    justify-content: center;
    align-items: start;
    text-align: initial;
  }
}
@media screen and (min-width: 800px) {
  .brand__text-content-container {
    min-height: unset;
    gap: 4rem;
    padding-inline: 4rem;
  }
}
@media screen and (min-width: 1100px) {
  .brand__text-content-container {
    gap: 4rem;
    padding-inline: 12rem;
  }
}
@media screen and (min-width: 1300px) {
  .brand__text-content-container {
    gap: 4rem;
    padding-inline: 15rem;
  }
}

.brand__paragraph {
  color: hsl(232, 10%, 55%);
}

.brand__cta {
  display: inline-block;
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  padding-inline: 10px;
  position: relative;
  z-index: 99;
}
.brand__cta::after {
  content: "";
  position: absolute;
  z-index: -99;
  bottom: 0;
  left: 0;
  height: 9px;
  border-radius: 5px;
  display: block;
  transform: translateY(-2px);
  width: 100%;
}
.brand__cta[data-underline-accent=yellow]::after {
  background: hsla(51, 100%, 49%, 0.45);
}
.brand__cta[data-underline-accent=soft-red]::after {
  background: hsla(7, 99%, 70%, 0.48);
}

.brand-gallery {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 800px) {
  .brand-gallery {
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
  }
}
.brand-gallery > div {
  height: 100%;
}

.bg-gallery-milk-bottles {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-gallery-milkbottles.jpg");
}
@media screen and (min-width: 800px) {
  .bg-gallery-milk-bottles {
    background-image: url("./../images/desktop/image-gallery-milkbottles.jpg");
  }
}

.bg-gallery-orange {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-gallery-orange.jpg");
}
@media screen and (min-width: 800px) {
  .bg-gallery-orange {
    background-image: url("./../images/desktop/image-gallery-orange.jpg");
  }
}

.bg-gallery-cone {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-gallery-cone.jpg");
}
@media screen and (min-width: 800px) {
  .bg-gallery-cone {
    background-image: url("./../images/desktop/image-gallery-cone.jpg");
  }
}

.bg-gallery-sugar-cubes {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-gallery-sugar-cubes.jpg");
}
@media screen and (min-width: 800px) {
  .bg-gallery-sugar-cubes {
    background-image: url("./../images/desktop/image-gallery-sugar-cubes.jpg");
  }
}

.services {
  display: flex;
  flex-direction: column;
}
.services .brand__image-container,
.services .service {
  height: 100vw;
}
@media screen and (min-width: 800px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vw;
  }
  .services > div {
    height: 100%;
  }
  .services .brand__image-container,
  .services .service {
    height: 100%;
  }
}

.bg-cherry {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-graphic-design.jpg");
  color: hsl(167, 40%, 24%);
}
@media screen and (min-width: 800px) {
  .bg-cherry {
    background-image: url("./../images/desktop/image-graphic-design.jpg");
  }
}

.bg-orange {
  background-position: center center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/mobile/image-photography.jpg");
  color: hsl(198, 62%, 26%);
}
@media screen and (min-width: 800px) {
  .bg-orange {
    background-image: url("./../images/desktop/image-photography.jpg");
  }
}

.service__content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 4rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 800px) {
  .service__content-container {
    padding-bottom: 8rem;
  }
}

.service__paragraph {
  max-width: 90%;
}
@media screen and (min-width: 800px) {
  .service__paragraph {
    max-width: 62%;
  }
}

.testimonials {
  padding-inline: 1rem;
  padding-block: 2rem;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .testimonials {
    padding: 10rem;
  }
}

.testimonials__container {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
@media screen and (min-width: 800px) {
  .testimonials__container {
    gap: 2rem;
    flex-direction: row;
    align-items: start;
  }
}

.testimonials__heading {
  margin-bottom: 2rem;
  color: hsl(232, 10%, 55%);
}
@media screen and (min-width: 800px) {
  .testimonials__heading {
    margin-bottom: 6rem;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 1100px) {
  .testimonial {
    gap: 8rem;
  }
}

.testimonial__author-image-container {
  max-width: 70px;
}
.testimonial__author-image-container img {
  border-radius: 50%;
}

.testimonial__paragraph {
  color: hsl(213, 9%, 39%);
}

.author__name {
  margin-bottom: 1rem;
}

.author__job-title {
  color: hsl(210, 4%, 67%);
}

.footer {
  padding-block: 8rem;
  background-color: hsla(168, 38.38%, 40.51%, 0.61);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media screen and (min-width: 640px) {
  .footer {
    padding-block: 10rem;
  }
}
.footer .navigation__item a {
  color: hsl(167, 40%, 24%);
}

.footer__logo-container {
  fill: hsl(167, 40%, 24%);
}

.socials__container {
  display: flex;
  gap: 2.5rem;
}

.social-link__container svg {
  fill: hsl(167, 40%, 24%);
  transition: 0.4s all;
}
.social-link__container svg:hover {
  fill: hsl(0, 0%, 100%);
}

.footer__navigation .navigation__item a:hover {
  transition: 0.4s all;
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=main.css.map */
