.brand__content-container {
    @include two-square-tiles;
    & > .bg-lamp {
        @include bg-image("image-stand-out.jpg");
    }
    & > .bg-egg {
        @include bg-image("image-transform.jpg");
    }
    &:first-child {
        flex-direction: column-reverse;
    }
}
.brand__text-content-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (min-width: $breakpoint-l) {
        justify-content: center;
        align-items: start;
        text-align: initial;
    }

    gap: 2rem;
    padding-inline: 3rem;
    min-height: 50vh;
    @media screen and (min-width: $breakpoint-l) {
        min-height: unset;
        gap: 4rem;
        padding-inline: 4rem;
    }
    @media screen and (min-width: $breakpoint-xl) {
        gap: 4rem;
        padding-inline: 12rem;
    }
    @media screen and (min-width: 1300px) {
        gap: 4rem;
        padding-inline: 15rem;
    }
}
.brand__paragraph {
    color: $dark-grayish-blue;
}
.brand__cta {
    display: inline-block;
    text-decoration: none;
    color: $very-dark-desaturated-blue;
    padding-inline: 10px;
    position: relative;
    z-index: 99;
    &::after {
        content: "";
        position: absolute;
        z-index: -99;
        bottom: 0;
        left: 0;
        height: 9px;
        border-radius: 5px;
        display: block;
        transform: translateY(-2px);
        width: 100%;
    }
    &[data-underline-accent="yellow"]::after {
        background: $yellow;
    }
    &[data-underline-accent="soft-red"]::after {
        background: $soft-red;
    }
}
