.contact-btn {
    background-color: $white;
    border: none;
    border-radius: 100vw;
    padding: 10px 25px;
}
.move-down-btn {
    background-color: transparent;
    border: 0;
    height: fit-content;
}
