.contact-btn {
    background-color: $yellow;
    color: $very-dark-desaturated-blue !important;
    @media screen and (min-width: $breakpoint-l) {
        background-color: $white;
        color: inherit;
    }
    border: none;
    border-radius: 100vw;
    padding: 10px 25px;
    transition: 0.4s all;
    &:hover {
        background-color: hsl(200, 99%, 52%);
        color: $white;
    }
}
.move-down-btn {
    background-color: transparent;
    border: 0;
    &:hover {
        cursor: pointer;
    }
}

.hamburger__button {
    background-color: transparent;
    border: 0;
}
