.header {
    height: 100dvh;
    padding-inline: 2rem;
    padding-block: 4rem;

    @include bg-image("image-header.jpg");
}

.header-container {
    max-width: 1300px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4rem;
    @media screen and (min-width: $breakpoint-l) {
        margin-bottom: 8rem;
    }

    position: relative;
}
.header__logo-container {
    max-width: 150px;
}
.header__heading {
    text-align: center;
    color: $white;
    margin-bottom: 5rem;
}
.header__arrow-down-container {
    max-width: 50px;
    margin-inline: auto;
}
.hamburger__container {
    display: block;
    @media screen and (min-width: $breakpoint-l) {
        display: none;
    }
    width: 48px;
    button {
        width: 100%;
    }
}
