.navigation__list {
    list-style-type: none;

    align-items: center;
    flex-direction: column;
    gap: 2rem;
    display: none;
    @media screen and (min-width: $breakpoint-l) {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
    &.active {
        display: flex;
    }
}
.navigation__item a {
    text-decoration: none;
    color: $white;
}
