@mixin bg-image($img-file-name) {
    background-position: center center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/mobile/#{$img-file-name}");

    @media screen and (min-width: $breakpoint-l) {
        background-image: url("../../images/desktop/#{$img-file-name}");
    }
}

@mixin two-square-tiles {
    display: flex;
    flex-direction: column;
    .brand__image-container,
    .service {
        height: 100vw;
    }
    @media screen and (min-width: $breakpoint-l) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50vw;

        & > div {
            height: 100%;
        }
        .brand__image-container,
        .service {
            height: 100%;
        }
    }
}
